#home {
  background-image: url(Images/the-flatiron-building.png);
}

#In_Newyork {
  background-image: url(Images/the-flatiron-building.png);
}

#bottom {
  text-align: left;
}
body {
  text-align: center;
}
